<div class="flex flex-row py-2">
  <gg-label
    title="Anita Slater"
    caption="cats cats cats cats cats"
    class="basis-1/2"
  >
  </gg-label>
  <mat-toolbar
    class="basis-1/2 place-content-end space-x-5 text-5xl text-neutral"
  >
    <button
      routerLink="/about"
      routerLinkActive="text-complementary"
      aria-label="About"
      class="p-2"
    >
      About
    </button>
    <button
      routerLink="/projects"
      routerLinkActive="text-complementary"
      aria-label="Projects"
      class="p-2"
    >
      Projects
    </button>
    <button
      routerLink="/home"
      routerLinkActive="text-complementary"
      aria-label="Home"
      class="p-2"
    >
      Home
    </button>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
