<mat-toolbar class="place-content-end space-x-5">
  <a 
    class="button" 
    routerLink="/home"
    routerLinkActive="activebutton"
    aria-label="Home"
    ariaCurrentWhenActive="page">Home
  </a>
  <a 
    class="button" 
    routerLink="/about"
    routerLinkActive="activebutton"
    aria-label="About"
    ariaCurrentWhenActive="page">About
  </a>
  <a 
    class="button" 
    routerLink="/portfolio"
    routerLinkActive="activebutton"
    aria-label="Portfolio"
    ariaCurrentWhenActive="page">Portfolio
  </a>
  <a 
    class="button" 
    routerLink="/blog"
    routerLinkActive="activebutton"
    aria-label="Blog"
    ariaCurrentWhenActive="page"> Blog
  </a>
  <a 
  class="contact" 
  routerLink="/contact"
  routerLinkActive="activebutton"
  aria-label="Contact"
  ariaCurrentWhenActive="page"> Contact
</a>

</mat-toolbar>
<router-outlet></router-outlet>
