<div class="max-w-sm rounded overflow-hidden shadow-2xl bg-primary-light bg-opacity-5 text-neutral justify-end">
    <img class="w-full" src="/assets/bg.jpg" alt="Sunset in the mountains">
    <div class="px-6 py-4">
      <!-- <div class="font-bold text-xl mb-2">The Coldest Sunset</div> -->
      <gg-label-title title="{{cardTitle}}"></gg-label-title>
      <gg-label-caption caption="{{cardCaption}}"></gg-label-caption>
    </div>
    <div class="px-6 pt-4 pb-2 flex justify-end">
        <button class="bg-primary-light hover:bg-neutral text-primary font-bold py-2 px-4 rounded inline-flex items-center">
            <img class="w-4 h-4 mr-2" src="/assets/github-mark.svg">
            <span>GitHub</span>
          </button>
    </div>
  </div>